{% extends 'frontend/base.html' %}
{% load static %}
{% block content%}




<style>
   
    
    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }
    
    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }
    
    .profile-button:hover {
        background: #682773
    }
    
    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }
    
    .profile-button:active {
        background: #682773;
        box-shadow: none
    }
    
    .back:hover {
        color: #682773;
        cursor: pointer
    }
    
    .labels {
        font-size: 11px
    }
    
    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
    .leftside, .rightside {
        height: 75vh;
        width: 75%;
    }
    
</style> 




            <div class="row no-gutter" >

                <div class="col-md-6 no-gutters" >
                    <div class="leftside d-flex justify-content-center align-items-center" style="margin-left: 25px;">
                        <h4 class="text-center">Billing Address</h4> 

                        <form action="" method="post">
                            {%csrf_token%}
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Full Name</label>
                                <input type="text " class="form-control" placeholder="Full Name" value="{{user_info.fullname}}">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Username</label>
                                <input type="text" class="form-control" value="{{user_info.username}}" placeholder="Username">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Mobile Number</label>
                                <input type="text" class="form-control" placeholder="enter phone number" id="billing_number" name="number" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Address Line 1</label>
                                <input type="text" class="form-control" placeholder="enter address line 1" id="billing_add1" name="billing_address1" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Address Line 2</label>
                                <input type="text" class="form-control" placeholder="enter address line 2" id="billing_add2" name="billing_address2" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Postcode</label>
                                <input type="text" class="form-control" placeholder="enter address line 2" id="billing_post" name="billing_postcode" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">State</label>
                                <input type="text" class="form-control" placeholder="enter address line 2" id="billing_state" name="billing_state" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Email ID</label>
                                <input type="text" class="form-control" placeholder="enter email id" name = 'email' id="id_email" value="{{user_info.email}}" required>
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels">Country</label>
                                <input type="text" class="form-control" placeholder="billing_country" id="billing_country" name="billing_country" required>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">City</label>
                                <input type="text" class="form-control" name="billing_city" id="billing_city" placeholder="billing_City" required>
                            </div>
                        </div>
                       
                        
        
                
                     <br>
                     <p><b>Shipping Address <label>
                        <p><b>Shipping Information <label><input type="checkbox" value="" id="check-address" name="checkbox-val">Same as Billing?</label></b></p> 
                     
                     

                         
                    </div>
                    
                </div>

                
                {% if messages %}

                    {% for message in messages%}

                        {{message}}


                    {% endfor%}


                {% endif%}


                <div class="col-md-6 no-gutters" >

                    <div class="rightside d-flex justify-content-center align-items-center" style="margin-left: 20px;" >
                       
                        <h4 class="text-center">Shipping Address</h4> 
                        <form action="" method="post">
                        
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Full Name</label>
                                <input type="text" class="form-control" placeholder="Full Name" value="{{user_info.first_name}}">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Username</label>
                                <input type="text" class="form-control" value="{{user_info.username}}" placeholder="Username">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Mobile Number</label>
                                <input type="text" class="form-control" placeholder="enter phone number" id="shpping_nuber" name="number" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Address Line 1</label>
                                <input type="text" class="form-control" placeholder="enter address line 1" id="shipping_add1" name="address1" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Address Line 2</label>
                                <input type="text" class="form-control" placeholder="enter address line 2" id="shipping_add2" name="address2" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Postcode</label>
                                <input type="text" class="form-control" placeholder="enter address line 2" id="shipping_post" name="postcode" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">State</label>
                                <input type="text" class="form-control" placeholder="enter address line 2"  id="shipping_state" name="state" required>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Email ID</label>
                                <input type="text" class="form-control" placeholder="enter email id"  name = 'ship_email' id="id_ship_email" value="{{user_info.email}}" required>
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels">Country</label>
                                <input type="text" class="form-control" placeholder="country"  id="shipping_country" name="country" required>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">City</label>
                                <input type="text" class="form-control" name="city"  id="shipping_city" placeholder="City" required>
                            </div>
                        </div>
                        
                        
        
                        
                  
                     <br>
                     <div class="mt-5 text-center">
                        <input type="submit" class="btn btn-primary" name="update">
                        
                    </div>
                    </form>      
                    </div>

                </div>

            </div>

            <br>
            <br>
            <br>
            <br>
            



{% endblock content %}